# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
obj/

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.elf
*.srec
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.objdump

# Quartus
incremental_db/
synthesis/

# Eclipse
.settings/
.metadata/

# DOOM
*.wad